body {
  background: url('images/doubleLined.png') repeat top left;
}

.fixedHeader{
  position: fixed;
}

img.navLogo {
  display: block; 
}

.gallery-wrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
}

.gallery-wrapper p {
  font-size: 2.5rem;
}

h3.galleryHeadings {
  text-align: center;
  font-size: 3rem;
  margin: 2%;
  text-transform: capitalize;
  clear: both;
  font-family: 'Abril Fatface', cursive;
}

.photos {
  width:100%;
  clear:both;
  position: relative;
}

.photos img {
  position: relative;
  width:32%;
  max-width: 100%;
  float:left;
  margin-right:2%;
  padding:5px;
  background:white;
  box-shadow: 0 0 10px #818181;
  border-radius: 5px;
  margin-bottom: 2%;
  transition: .1s transform;
  transform: translateZ(0);
}

.photos img:hover {
  z-index: 9999;
  transform: scale(1.5,1.5);
  transition: .3s transform;
}

.photos img:nth-child(3n) {
  margin-right: 0;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .header {
    text-align: center;
  }
  .photos img {
    width:48%;
    margin-right:2%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  img.navLogo {
  display: none; 
}
  .header ul {
    width:100%;
  }

  .photos img {
    width:100%;
    margin-right:0;
  }

  h2.bodyHeadings {
    font-size: 3.3rem;
  }

  .photos img:hover {
    transform: scale(1.1,1.1);
    transition: .3s transform;
  }
}
