body {
  background: url('images/doubleLined.png') repeat top left;
}

.construction {
  padding-top: 50px;
  text-align: center;
  margin: 10%;
}

.construction h1 {
  font-size: 3rem;
}

.construction a {
  text-decoration: none;
  font-size: 3rem;
  color: black;
  border-bottom: 1px solid #b51060;
}

img.navLogo {
  display: block; 
}

.gallery-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.gallery {
  width: 93%;
  margin: 3% auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
  width: 31%;
}

.gallery > div > img {
  width: 300px;
  transition: .5s transform;
  transform: translateZ(0);
  /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.4, 1.4);
  transition: .5s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

