article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


html {
	font-size: 62.5%;
}
body {
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	-webkit-font-smoothing: antialiased;
}

::selection { 
	background: #b51060;
}

::-moz-selection { 
	background: #b51060;
}


.sticky-wrapper{
	height:0 !important;
}
.fixedHeader {
	position: absolute;
	z-index: 1000;
	text-transform: uppercase;
	width: 100%;
	top: 0;
	text-decoration: none;
	padding: 10px;
	font-size: 1.8rem;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
	background: url('images/wet_snow.png') repeat top left;
	opacity: 0.75;
}

.fixedHeader.fixed {
	position: fixed;
}

.mobileLogo {
	display: none;
}

.mobileLogo img {
	height: 100px;
	width: 100px;
}

h2.brand {
	font-family: 'Abril Fatface', cursive;
	color: black;
	float: left;
	font-size: 4.5rem;
	position: absolute;
	left: 69px;
	top: -45px;
}

img.navLogo {
	position: absolute;
	height: 70px;
	width: 70px;
	top: 6px;
	left: 70px;
	display: none;
}

img.navLogo.logoShow {
	display:block;
}

.nav {
	float: right;
	width: 52%;
}

ul.navBar {
	margin: 0;
	padding: 1%;
	width: 100%;
}

.nav li {
	margin: 0;
	display: inline-block;
	position: relative;
}

.navBar li a {
	text-decoration: none;
	padding: 0 20px;
	text-shadow: 0 0 10px #ccc;
	color: black;
}

.navBar a:hover {
	color: #b51060;
}

.navBar li a.selected {
	color: #b51060;
}

.navBar li:hover ul.drop-down {
	display: block;
}

ul.drop-down {
	display: none;
	position: absolute;
	background: url('images/wet_snow.png') repeat top left;
	padding: 15px 0 0 0;
}



.introWrapper {
	background: white url('images/rd8.png') center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 50px;
	width: 100%;
	display: block;
}


.flipLogo {
	width: 325px;
	height: 325px;
	margin: 15% 0 5% 5%;
	position: relative;
	-webkit-perspective:500px; 
	-moz-perspective:500px;
}

.flipFront, .flipBack {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	backface-visibility:hidden;
	transition:all 0.9s;
}

.flipBack {
	background: black;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	border-radius: 50%;
	font-size: 2rem;
	color: white;
	text-align: center;
	border: 2px dotted white;
	padding:12%;
	letter-spacing: 0.1rem;
}

.flipBack p {
	margin-top: 0;
}

.flipLogo:hover .flipFront, .flipLogo.flipped .flipFront {
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
}

.flipLogo:hover .flipBack, .flipLogo.flipped .flipBack {
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg);
}

.flipFront img {
	height: 300px;
	width: 300px;
}

span.introDivider {
	border-top: 2px solid #b51060;
	display: block;
	margin-left: 40%;
	margin-right: 40%;
}


.stagingContainer {
	width: 100%;
	padding-top: 20px;
	background: url('images/doubleLined.png') repeat top left;
	border-top: 2px solid #b51060;
}

h2.bodyHeadings {
	text-align: center;
	font-size: 5rem;
	margin: 2%;
	text-transform: capitalize;
	clear: both;
	font-family: 'Abril Fatface', cursive;
}

span.dividerFull {
	border-top: 2px solid #b51060;
	display: block;
}

span.dividerSmall {
	border-top: 2px solid #b51060;
	display: block;
	margin-left: 45%;
	margin-right: 45%;
	padding-bottom: 2%;
}

ul.facts {
	margin-left: 10%;
	font-size: 2.2rem;
	list-style-type: circle;
	line-height: 3rem;
	float: left;
	width: 33%;
}

.sliderWrapper {
	margin-right: 5%;
	float: left;
	width: 50%;
}

.flexslider .slides > li {
	width: 800px;
}

.flexslider .slides img {
	padding: 1%;
}

.serviceRow {
	width: 100%;
	position: relative;
	padding-top: 10px;
}

.productColumn {
	width: 46%;
	display: block;
	float: left;
	position: relative;
	margin: 2%;
}

.serviceWrap {
	position: relative;
	display: inline-block;
}

img.serviceShot {
	width: 100%;
	position: relative;
	box-shadow: 0 0 10px #ccc;
}

.serviceContent {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	padding: 20px;
	background: rgba(98, 99, 102, 0.7);
	color: white;
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	z-index: 10;
}

.serviceContent h3 {
	font-size: 4.5rem;
	letter-spacing: 0.1rem;
	font-family: abril Fatface;
	border-bottom: 2px solid #b51060;
	margin-right: 10%;
}

.serviceContent ul {
	position: absolute;
	top: 130px;
	font-size: 2.5rem;
	list-style: circle;
	line-height: 3rem;
}

.serviceContent:hover {
	opacity: 1;
}

h3.pricing {
	text-align: center;
	font-size: 2.7rem;
	font-family: abril Fatface;
	padding-bottom: 30px;
	clear: both;
}

.pricing a {
	color: black;
}

.pricing a:hover {
	color: #b51060;
}

.bioContainer {
	border-top: 2px solid #b51060;
	border-bottom: 2px solid #b51060;
	width: 100%;
	background: url('images/diamondUpholstery.png') repeat top left;
}

.bioWrapper {
	position: relative;
	padding: 30px;
	max-width: 1200px;
	margin: 0 auto;
}


.bioWrapper p {
	font-size: 2.5rem;
	/*margin-right: 10%;*/
	/*margin-left: 32%;*/
	line-height: 3rem;
	position: relative;
}

/*.imgDiamond {
	width: 300px;
	height: 300px;
	margin:4%;
	border: 1px solid rgba(222, 185, 133, 1);
	border-radius: 50%;
	overflow: hidden;
	float: left;
	background: url(Images/bioPicBrown.png) center no-repeat rgba(222, 185, 133, 0.61);
	position: relative;
	bottom: 60px;
	transition: all 0.5s;
}

.imgDiamond:hover {
	background: url(Images/bioPic.png) center no-repeat white;
	}*/

	.workWrapper {
		position: relative;
		width: 100%;
		padding-top: 10px;
	}

	.condoVideo{
		max-width: 600px;
		margin: 0 auto;
	}



	.testimonialContainer {
		border-bottom: 2px solid #b51060;
		width: 100%;
	}

	.testimonialWrapper {
		max-width: 1300px;
		margin: 0 auto;
	}


	.testy  {
		font-size: 2rem;
		line-height: 2.2rem;
		display:none;	
		position: relative;
		width: 33%;
		margin-left: 6%;
		float: left;
	}

	.seal {
		display: inline;
		position: relative;
		width: 100%;
	}


	.seal img {
		width: 150px;
		padding-bottom: 1%;
		margin-left: 3%;
	}


	.contactContainer {
		background: url('images/greyFooter.png') repeat top left;
		width: 100%;
		position: relative;
		padding: 20px;
		margin: 0 auto;

	}

	.contactContainer h2 {
		font:white;
	}

	.inTouch {
		float: left;
		width: 50%;
		margin-left: 2%;
	}

	.inTouch p {
		font-size: 3rem;
		color: white;
		position: relative;
		bottom: 31px;
		padding: 10px;
	}

	.inTouch p a {
		text-decoration: none;
		color: white;
	}

	.inTouch p a:hover {
		border-bottom: 2px solid #b51060;
	}

	.leftForm {
		float: left;
		width: 20%;
	}

	.rightForm {
		width: 20%;
		float: left;
		position: relative;
	}

	.myForm {
		font-size: 2rem;
	}

	.myInput, .message {
		border-radius: 4px;
		padding: 4px;
		margin-bottom: 5%;
		width: 90%;
		position: relative;
	}

	.message {
		height: 122px;
	}

	.submitButton {
		position: absolute;
		bottom: 13px;
		right: 29px;
		font-size: 2rem;
		border-radius: 4px;
		background: rgba(181, 16, 96, 0.77);	
		color: white;
	}

	.copy {
		font-size: 2rem;
		text-align: center;
		position: relative;
		width: 100%;
		margin: 0 auto;
		clear: both;
	}

	.galleryWrapper {
		width: 90%;
		margin: 0 auto;

	}

	.tabs {
		position: relative;
		min-height: 200px;
		margin: 25px 0;
		height: 375px;
	}

	.tab {
		float: left;
	}

	.tab label {
		background: #b51060;
		padding: 10px;
		border: 1px solid #ccc;
		margin-left: -1px;
		position: relative;
	}

	.tab label:hover {
		background: rgba(181, 16, 96, 0.5);
	}


	.tab [type=radio] {
		display: none;
	}

	.gallery {
		position: absolute;
		top: 28px;
		left: 0;
		background: white;
		right: 0;
		bottom: 0;
		border: 1px solid #ccc;
		width: 100%;

	}

	.tab label {
		font-size: 2rem;
	}

	[type=radio]:checked ~ label {
		background: white;
		border-bottom: 1px solid white;
		z-index: 2;
	}

	[type=radio]:checked ~ label ~ .gallery {
		z-index: 1;
	}

	[type=radio] ~ label ~ .gallery ul.flex-direction-nav {
		display: none;
	}

	[type=radio]:checked ~ label ~ .gallery ul.flex-direction-nav {
		display: block;
	}

	.flex-control-nav {
		display: none;
	}


	/*Responsive Media Queries*/
	@media (max-width: 1119px) {
		.nav {
			width: 60%;
		}

		.introWrapper h1, p {
			margin-right: 0%;
		}

		ul.facts {
			margin-left: 4%;
			font-size: 2rem;
			width: 41%;
		}

		.serviceContent h3 {
			font-size: 3rem;
		}

		.serviceContent ul {
			top: 85px;
			line-height: 3rem;
		}

		.navBar li a {
			padding: 0 15px;
		}

		.testimonialWrapper {
			width: 96%;
			margin: 0 auto;
		}

		.rightForm {
			margin-left: 1%;
		}

		.submitButton {
			right: 22px;
			bottom: 11px;
		}


	}


	/* Portrait tablet and small desktops */
	@media (max-width: 940px) {
		.nav {
			width: 75%;
		}

		.flipLogo {
			width: 225px;
			height: 225px;
		}

		.flipFront img {
			height: 225px;
			width: 225px;
		}

		.flipBack {
			font-size: 1.3rem;
		}

		h2.bodyHeadings {
			font-size: 4rem;
			margin: 0;
		}

		.sliderWrapper {
			margin: 1% auto;
		}

		.productColumn {
			width: 76%;
			margin: 0 12%;
			padding: 1% 0;
		}

		.serviceContent {
			top: 312px;
			opacity: 1;
			height: 125px;
		}

		.serviceContent h3 {
			font-size: 3rem;
			position: absolute;
			bottom: 45px;
		}

		.serviceContent ul {
			top: 50px;
			font-size: 2rem;	
			line-height: 2.5rem;
		}

		.bioWrapper p {
			margin-right: 0;
		}

		.testimonialContainer {
			padding-top: 0;
		}

		.inTouch p {
			padding: 0;
		}

		.message {
			width: 100%;
		}

		.inTouch {
			float: none;
			width: 100%;
			margin: 0;
		}

		.leftForm {
			width: 30%;
		}

		.rightForm {
			width: 50%;
			margin: 0;
		}

		.submitButton {
			bottom: 21px;
			right: 0px;
		}
	}

	@media (max-width: 875px) {

		.testimonialContainer {
			padding: 3% 0;
		}

		ul.facts {
			font-size: 2rem;
			line-height: 3rem;
			margin: 5% auto;
			width: 90%;
		}	

		.sliderWrapper {
			margin: 0 10%;
			width: 80%;
		}

		.mobileLogo {
			display: block;
			position: absolute;
			left: 8px;
			top: -67px;
			z-index: 99;
		}

		.flipFront {
			display: none;
		}

		.flipFront, .flipBack {
			transition:none;
			-webkit-transition:none;
			-moz-transition:none;

		}

		.flipBack {
			font-size: 1.2rem;
			-webkit-transform:none;
			-moz-transform:none;
			tranform:none;
		}

		.serviceContent {
			top: 242px;
			height: 145px;
		}

		.serviceContent ul {
			font-size: 1.7rem;
		}

/*	.imgDiamond {
		width: 200px;
		height: 200px;
		padding-top: 2%;
		bottom: 0;
		}*/

		.testy {
			font-size: 1.5rem;
			line-height: 2rem;
			margin-left: 2%;
			width: 36%;
		}

		.submitButton {
			bottom: 18px;
		}

	}

	/* Landscape phone to portrait tablet */
	@media (max-width: 768px) {
		.nav {
			width: 90%;
		}

		ul.navBar {
			padding: 0;
		}

		img.navLogo {
			height: 55px;
			width: 55px;
			left: 7px;
		}

		h2.brand {
			left: 19px;
			top: -20px;
			font-size: 2.5rem;
		}

		h2.bodyHeadings {
			font-size: 3rem;
			margin: 0;
		}

		.serviceContent {
			top: 202px;
			height: 125px;
		}

		.serviceContent h3 {
			bottom: 54px;
		}

		.serviceContent ul {
			top: 30px;
			line-height: 2rem;
		}


/*	.imgDiamond {
		float: none;
		margin: 0 auto;
		padding-top: 2%;
		bottom: 0;
		}*/

		.bioWrapper p {
			font-size: 2rem;
			margin: 3%;
		}

		h3.pricing {
			font-size: 2rem;
		}

		.tab label {
			font-size: 1.5rem;
		}

		.gallery {
			top: 25px;
		}

		.testimonialWrapper {
			padding: 30px;
			width: 100%;
		}

		.seal img {
			width: 120px;
			height: 120px;
		}

		.inTouch p{
			font-size: 2rem;
			bottom: 22px;
		}

		.submitButton {
			bottom: 17px;
		}
	}


	@media (max-width: 647px) {
		.fixedHeader{
			padding: 9px;
			font-size: 1.3rem;
		}

		img.navLogo {
			height: 45px;
			width: 45px;
			left: 15px;
		}


		.flipLogo {
			height: 200px;
			width: 200px;
		}

		.flipBack {
			font-size: 1.3rem;
		}

		ul.facts {
			font-size: 1.5rem;
			line-height: 2.5rem;
		}

		.serviceContent {
			top: 137px;
			height: 123px;
		}

		.serviceContent h3 {
			font-size: 2.5rem;
		}

		.serviceContent ul{
			font-size: 1.6rem;
			top: 30px;
			margin-left: -5%;
		}

		.gallery {
			top: 20px;
		}

		.tab label {
			font-size: 1.3rem;
			padding: 6px;
		}

		.testy {
			width: 48%;
		}

		.inTouch p{
			font-size: 2rem;
			bottom: 10px;

		}

		.submitButton {
			bottom: 13px;
		}


	}

	@media (max-width: 525px) {
		.nav {
			width: 100%;
		}

		.tabs {
			height: 325px;
		}

		.myForm {
			font-size: 1.3rem;
		}

		.submitButton {
			bottom: 11px;
			font-size: 1.3rem;
		}

		img.navLogo.logoShow {
			display: none;
		}

		.serviceContent {
			height: 123px;
			top: 107px;
		}

		.serviceContent h3 {
			font-size: 2rem;
			bottom: 70px;
		}

		.serviceContent ul {
			font-size: 1.4rem;
			top: 30px;
		}

	}


	/* Landscape phones and down */
	@media (max-width: 480px) {
		.nav li {
			margin: -12px;
		}

		.navBar li a {
			padding: 0 23px;
		}

		h2.bodyHeadings {
			font-size: 1.7rem;
		}

		ul.facts {
			width: 100%;
			font-size: 1.2rem;
		}


		.sliderWrapper {
			width: 100%;
			margin: 0;
		}

		.serviceContent h3 {
			font-size: 1.8rem;
		}

		.serviceContent ul {
			font-size: 1.3em;
			top: 55px;
			line-height: 1.8rem;
		}

		h3.pricing {
			font-size: 1.5rem;
		}

		.bioWrapper p {
			font-size: 1.5rem;
		}

		.tab label {
			font-size: 1rem;
			padding: 3px;
		}

		.gallery {
			top: 13px;
		}

		.inTouch p {
			font-size: 1.2rem;
		}

		.serviceContent {
			height: 88px;
		}

		.serviceContent h3 {
			font-size: 1.6rem;
			bottom: 50px;
		}

		.serviceContent ul {
			line-height: 1.2rem;
			margin-left: -11%;
			top: 16px;
		}

		.tabs {
			height: 250px;
		}


		.testy {
			width: 95%;
		}

		.submitButton {
			bottom: 7px;
			font-size: 1.5rem;
		}
	}

	@media (max-width: 320px) {
		.nav li {
			margin: -18px;
		}

		.serviceContent {
			top: 67px;
			height: 89px;

		}

		.serviceContent h3 {
			font-size: 1.1rem;
			bottom: 50px;
		}

		.serviceContent ul {
			font-size: 1rem;
			top: 25px;
			margin-left: -18%;
		}

		.tabs {
			height: 210px;
		}
	}






